<h1>Formulario de actualizacion de autos</h1>

 <form action="/editar" method="post">
    <label>Nombre</label>
    <input id="nombreID" name="nombre" type="text" required>
    <br>
    <br>
    <label>Tipo</label>
    <select id="tipoId" name="tipo" type="text" required>
        <option value="Deportivo">Deportivo</option>
        <option value="Camioneta">Camioneta</option>
        <option value="Taxi">Taxi</option>
        <option value="Camion">Camion</option>
        <option value="Bus">Bus</option>
    </select>
    <br>
    <br>
    <label>Año</label>
    <input id="anioId" name="anio" type="number" required>
    <br>
    <br>
    <label>Fecha</label>
    <input id="fehcaId" name ="fecha" type="date" min="2020-01-01" max="2020-12-31" required>
    <br>
    <br>
    <label>Precio</label>
    <input id ="precioId" name="precio" type="number" min="0" step="1" required>
    <br>
    <br>
    <button type="reset">Limpiar</button>
    <a href="/lista"><button type="button">Cancelar</button></a>
    <button>Guardar</button>

 </form>