<h1>Inicio de sesión</h1>
<form action="/login" method="POST">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username">

    <label for="password">Password: </label>
    <input id="password" type="password" name="password">

    <button type="submit">Login</button>
</form>