<!-- <% const nombre='Enrique'%>
<h1>Lista autos</h1>
<%=nombre%>
<ol>
<%const arregloNum = [1,2,3,4];%>
<%arregloNum.forEach((valorActual)=>{%>
<li>Numero: <%=valorActual%> </li>
<%})%>
</ol>
<h1>Autos</h1>
<table border="1">
    <tr>
        <td>Nombre </td>
        <td>Tipo</td>
        <td>Año</td>
        <td> Fecha</td>
        <td>Precio</td>
    </tr>

    <%arregloAutos.forEach((auto)=>{%>
        <tr>
            <td><%=auto.nombre%> </td>
            <td><%=auto.tipo%></td>
            <td><%=auto.anio%></td>
            <td><%=auto.fecha%></td>
            <td><%=auto.precio%></td>
        </tr>
   
    <%})%>
</table>
 -->



 <h1>Formulario de registro de autos</h1>

 <form action="/crear" method="post">
    <label>Nombre</label>
    <input id="nombreID" name="nombre" type="text" required>
    <br>
    <br>
    <label>Tipo</label>
    <select id="tipoId" name="tipo" type="text" required>
        <option value="Deportivo">Deportivo</option>
        <option value="Camioneta">Camioneta</option>
        <option value="Taxi">Taxi</option>
        <option value="Camion">Camion</option>
        <option value="Bus">Bus</option>
    </select>
    <br>
    <br>
    <label>Año</label>
    <input id="anioId" name="anio" type="number" required>
    <br>
    <br>
    <label>Fecha</label>
    <input id="fehcaId" name ="fecha" type="date" min="2020-01-01" max="2020-12-31" required>
    <br>
    <br>
    <label>Precio</label>
    <input id ="precioId" name="precio" type="number" min="0" step="1" required>
    <br>
    <br>
    <button type="reset">Limpiar</button>
    <a href="/lista"><button type="button">Cancelar</button></a>
    <button>Guardar</button>

 </form>